apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: devsu-keyvault
  namespace: dev
spec:
  provider: azure
  parameters:
    useManagedIdentity: "true"
    keyvaultName: kv-devsu-dev
    tenantId: 9cc5487f-aca6-4f45-90b0-7d4b2804cfc6
    objects: |
      array:
        - |
          objectName: DB-ENGINE
          objectType: secret
        - |
          objectName: DB-NAME
          objectType: secret
        - |
          objectName: DB-USER
          objectType: secret
        - |
          objectName: DB-PASSWORD
          objectType: secret
        - |
          objectName: DB-HOST
          objectType: secret
        - |
          objectName: DB-PORT
          objectType: secret
        - |
          objectName: DJANGO-SECRET-KEY
          objectType: secret

  secretObjects:
    - secretName: postgres-secret
      type: Opaque
      data:
        - objectName: DB-ENGINE
          key: DB_ENGINE
        - objectName: DB-NAME
          key: DB_NAME
        - objectName: DB-USER
          key: DB_USER
        - objectName: DB-PASSWORD
          key: DB_PASSWORD
        - objectName: DB-HOST
          key: DB_HOST
        - objectName: DB-PORT
          key: DB_PORT

    - secretName: devsu-app-secret
      type: Opaque
      data:
        - objectName: DJANGO-SECRET-KEY
          key: DJANGO_SECRET_KEY