apiVersion: apps/v1
kind: Deployment
metadata:
  name: devsu-app
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devsu-app
  template:
    metadata:
      labels:
        app: devsu-app
    spec:
      initContainers:
        - name: migrate
          image: ghcr.io/aleyamayab/devsu-demo-devops-python:v1.2.0
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: devsu-app-config
            - secretRef:
                name: devsu-app-secret
          volumeMounts:
            - name: db-storage
              mountPath: /data
          command: ["sh","-c","python manage.py migrate --noinput"]

      containers:
        - name: devsu-app
          image: ghcr.io/aleyamayab/devsu-demo-devops-python:v1.2.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
          envFrom:
            - configMapRef:
                name: devsu-app-config
            - secretRef:
                name: devsu-app-secret
          
          volumeMounts:
            - name: db-storage
              mountPath: /data

          readinessProbe:
            httpGet:
              path: /api/health/
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2

          livenessProbe:
            httpGet:
              path: /api/health/
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
            timeoutSeconds: 2

          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"      
      volumes:
        - name: db-storage
          persistentVolumeClaim:
            claimName: devsu-db-pvc
