apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: devsu-db-pvc
  namespace: dev
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard  # Minikube usa 'standard' por defecto
